#fentAdded
{
    background-color: red;
    position: absolute;
    opacity: 0;
    font-size: 100px;
    transition: opacity 1s;
    pointer-events: none;
}

p{
    font-size: 20px;
}

.hidden
{
    display: none;
}

.market
{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10%;
    position: fixed;
    left: 70%;
    bottom: 50%;
}